PORT=4000
RTMP_PORT=1935
HLS_PORT=8000

DATABASE_URL=postgresql://postgres:password@db.neon.tech/dbname?sslmode=require

JWT_SECRET=secure_random_key
FFMPEG_PATH=/usr/bin/ffmpeg
BASE_DOMAIN=stream.yourdomain.com
